/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 18px;
}


/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}




@media (min-width: 768px) {
    /* On medium and larger screens (768px and up), show the navigation and action buttons */
    .md\\:flex {
        display: flex !important;
    }
    .md\\:hidden {
        display: none !important;
    }
}

@media (max-width: 767px) {
    /* On small screens (767px and below), hide the navigation links and action buttons */
    .md\\:flex {
        display: none !important;
    }
}